/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.container, .page, .header, .navbar { max-width: 1200px; margin-left: auto; margin-right: auto; }

.g-row { *zoom: 1; }
.g-row:after { content: " "; display: table; clear: both; }

.header__right, .nav, .search, .ask, .teaser, .teaser__slider, .teaser__menu, .sidenav { position: relative; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 12px; font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif; color: #353535; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; background: url("../img/main_bg.jpg") center top; }

.page { background-color: white; -webkit-box-shadow: 0 0 10px black; -moz-box-shadow: 0 0 10px black; box-shadow: 0 0 10px black; }

.header { position: relative; color: white; *zoom: 1; height: 85px; }
.header:after { content: " "; display: table; clear: both; }
.header:before { position: absolute; top: 0; left: 0; right: 0; height: 4px; background: #353535; content: ""; }

.header__logo { position: relative; float: left; display: block; background: url('../img/icons-s1b29191c0d.png') 0 0 no-repeat; width: 198px; height: 60px; font: 0/0 a; text-shadow: none; color: transparent; }

.header__right { float: right; width: 40%; margin-top: 20px; }

.navbar { *zoom: 1; height: 68px; border: 1px solid #e8e8e8; border-width: 1px 0; background-color: white; }
.navbar:after { content: " "; display: table; clear: both; }
.navbar.is-fixed { position: fixed; top: 0; width: 100%; z-index: 1000; }

.nav { width: 60%; margin-top: -1px; }
.nav ul { display: table; width: 100%; border-collapse: collapse; }
.nav li { display: table-cell; font-family: "Roboto Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 15px; text-transform: uppercase; text-align: center; border-left: 1px solid #e8e8e8; margin-left: -1px; }
.nav li:hover, .nav li.is-active { background: #353535; border-color: transparent; }
.nav li:hover a, .nav li.is-active a { color: white; }
.nav li:first-child { border-left: none; }
.nav a { display: block; color: #353535; text-decoration: none; line-height: 16px; padding: 27px 0.5em; white-space: nowrap; }

.search { width: 20%; }

.ask { width: 20%; }

.teaser { width: 80%; }

.teaser__slider { width: 75%; }
.teaser__slider img { display: block; max-width: 100%; }

.teaser__menu { width: 25%; }

.sidenav { width: 20%; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
