.catalog
	.row
		overflow: hidden
	.item
		height: 395px
		&:before
			@extend %dline
		.h2
			margin-bottom: 10px
		.thumbnail
			padding-top: 15px
			height: 230px
			img
				max-height: 230px
			&:before
				@extend %dline_vert
				@extend %dline_right
				right: -1px
