*
	margin: 0
	+selection
		color: $color-invert
		background: $color-blue

body
	font-family: $font-base
	font-size: $size-base
	+font-smoothing
	color: $color-base
	background-color: $bg-invert
	line-height: 1.4
	min-width: 980px

a
	color: $link-color-base
	text-decoration: none
	&:hover
		text-decoration: underline

.g-pseudo
	text-decoration: none !important
	border-bottom: 1px dashed
	&:hover
		text-decoration: none !important
		border-bottom: none

#parallax-bg
	background-repeat: repeat
	position: fixed
	width: 100%
	bottom: 0
	top: 0
	left: 0
	z-index: -1

.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -90px
.footer, .push
	height: 90px

.page
	position: relative
	@extend %in
	background-color: $color-invert
	+box-shadow(0 0 10px #000)
	padding-top: 70px

.header
	position: relative
	color: $color-invert
	+clr
	height: 85px
	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 4px
		background: $color-base
		content: ""
	a
		color: $color-invert
.header__logo
	a
		display: block
		+s(logo)
		+hidetext
.header__meta
	float: right
	margin-top: 20px
	text-align: right

.contacts
	display: inline-block
	vertical-align: top
.contacts__group
	display: inline-block
	vertical-align: top
	margin-left: 40px
	text-align: left
	font-size: 13px
	li
		margin-bottom: 0.3em
	&:first-child
		margin-left: 0

.lang
	position: relative
	display: inline-block
	vertical-align: top
	margin: 0 25px 0 32px
	padding-left: 24px
	&:before
		position: absolute
		top: 0
		left: 0
		height: 46px
		width: 1px
		background: rgba(#fff, .33)
		content: ""
.lang__trigger
	cursor: pointer
	&:hover
		span
			border: none
	i
		margin-left: 5px

.navbar
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	@extend %in
	+clr
	height: 70px
	border: 1px solid $border-color-base
	border-width: 1px 0
	background-color: $bg-base
	&.is-fixed
		position: fixed
		z-index: 1000

.sitenav
	top: -1px
.sitenav__ul
	display: table
	width: 100%
	border-collapse: collapse
	+box
.sitenav__clause
	position: relative
	display: table-cell
	font-family: $font-alt
	font-size: 15px
	text-transform: uppercase
	text-align: center
	border-left: 1px solid $border-color-base
	+transition(.3s)
	// margin-left: -1px
	&:hover, &.is-active
		background: $color-base
		border-color: $color-base
		a
			color: $color-invert
	&:first-child
		border: none
		// margin-left: 0
	&.sitenav__clause_adv
		&:before
			position: absolute
			top: 0
			left: 0
			+arr(20, 20, $color-pink, tl)
			content: ""
		&:hover, &.is-active
			background: $color-pink
			border-color: $color-pink
	&.sitenav__clause_print
		&:before
			position: absolute
			top: 0
			left: -1px
			+arr(20, 20, $color-blue, tl)
			content: ""
		&:hover, &.is-active
			background: $color-blue
			border-color: $color-blue
	a
		display: block
		color: $color-base
		text-decoration: none
		line-height: 16px
		padding: 27px .5em
		white-space: nowrap
		+transition(.3s)

.search
	top: -1px
	height: 70px
	font-family: $font-alt
	border-left: 1px solid $border-color-base
.search__query
	display: block
	width: 100%
	font-family: $font-alt
	+box
	font-size: 14px
	line-height: 20px
	padding: 25px 27px
	background: none
	+font-smoothing
	&:focus
		+placeholder-color(transparent)
.search__submit
	position: absolute
	top: 50%
	margin-top: -14px
	right: 27px
	display: block
	background: none
	font-size: 22px
	+r(w1220)
		width: 100%
		top: 0
		right: 0
		left: 0
		bottom: 0
		margin-top: 0
		i
			position: absolute
			top: 50%
			margin-top: -14px
			left: 50%
			margin-left: -10px
			right: auto

.search__dropdown
	position: absolute
	top: 70px - 1px
	left: -1px
	background: $color-invert
	z-index: 100
	display: none
	&:before
		@extend %dline
	li
		// margin-left: -1px
		+text-overflow
		color: $color-base
		mark
			font-weight: bold
			background: none
		a
			display: block
			font-family: $font-alt
			font-weight: normal
			padding: 0 27px
			border: 1px solid $border-color-base
			border-width: 0 1px 1px
			font-size: 14px
			height: 43px
			line-height: 43px
			color: $color-base
			text-decoration: none
		&:hover, &.is-selected
			background: #efefef
		// &:first-child
		// 	border-top: 1px dashed #bbb

.request
	height: 70px
	top: -1px
	background: #7bc100
	color: $color-invert
	+transition(background .3s)
	&:hover
		background: $bg-invert
.request__trigger
	position: relative
	cursor: default
	top: 0
	left: 0
	right: 0
	height: 100%
.request__triggerlabel
	position: relative
	width: 170px
	height: 70px
	+box
	padding-top: 20px
	text-align: center
	font-family: $font-alt
	text-transform: uppercase
	line-height: 1
	font-size: $size-lg
	&:before
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 1px
		background: rgba(#fff, .4)
		content: ""
	span
		text-transform: lowercase
		font-size: $size-base
.request__triggericon
	font-size: 22px
	position: absolute
	top: 25px
	right: 25px
	+r(w1220)
		left: 50%
		right: auto
		margin-left: -10px

.teaser
.teaser__slider
	height: 480px
	overflow: hidden
	img //tmp
		display: block
		min-width: 100%

.main-services
	overflow: hidden
	height: 480px
	+r(w1220)
		height: 240px
.main-services__item
	position: relative
	overflow: hidden
	display: block
	height: 240px
	color: $color-invert
	text-align: center
	+box
	+r(w1220)
		width: 50%
		float: left
	&.main-services__item_adv
		background: #454545
		&:before
			position: absolute
			top: 0
			left: 0
			+arr(20, 20, $color-pink, tl)
			content: ""
		.main-services__cover
			&:hover
				background: $color-pink
		.main-services__list
			a
				&:hover
					background: #555555
	&.main-services__item_print
		background: #353535
		&:before
			position: absolute
			top: -1px
			left: 0
			+arr(20, 20, $color-blue, tl)
			content: ""
			z-index: 20
			+r(w1220)
				left: -1px
		.main-services__cover
			position: relative
			&:hover
				background: $color-blue
		.main-services__list
			a
				&:hover
					background: #454545


.main-services__cover
	position: relative
	float: left
	width: 240px
	height: 241px
	+box
	padding: 50px
	z-index: 20
	&:before
		@extend %dline_vert
		@extend %dline_right
		@extend %dline_dark
	&:hover
		&:before
			display: none
	a
		color: $color-invert
		text-decoration: none
.main-services__cover-hotzone
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.main-services__icon
	margin-bottom: 25px

.main-services__title
	text-transform: uppercase
	font-weight: 500
	font-size: 16px
	line-height: 1
	color: $color-invert

.main-services__list
	overflow: hidden
	li
		position: relative
		text-align: left
		&:before
			@extend %dline
			@extend %dline_xdark
		&:first-child
			&:before
				content: none
		.main-services__more
			text-align: right
			font-size: 13px
			font-family: $font-base
			// padding: 15px 30px
	a
		display: block
		padding: 13px 30px 12px
		color: $color-invert
		text-decoration: none
		font-size: 14px
		line-height: 15px
		font-family: $font-alt

.footer
	height: 90px
	color: #c7c7c7
	.container
		padding-top: 30px
		padding-left: 25px
		padding-right: 25px
	a //test
		color: #c7c7c7
		text-decoration: underline
.footer__right
	float: right
	text-align: right
.footer__contacts
	margin-left: 30px
	display: inline-block
	vertical-align: top
.footer__social
	position: relative
	display: inline-block
	vertical-align: top
	line-height: 1.1
	padding-right: 45px
	&:before
		position: absolute
		top: -5px
		right: 0
		height: 46px
		width: 1px
		background: rgba(#fff, .33)
		content: ""
	ul
		display: inline-block
		vertical-align: top
		padding-top: 2px
	li
		display: inline-block
		vertical-align: middle
		font-size: 22px
		margin-left: 19px
		&:first-child
			margin-left: 0
		span
			+hidetext
.footer__social-title
	display: inline-block
	vertical-align: top
	margin-right: 23px
	font-size: $size-sm

.about
	height: 240px
	.box-body
		&:before
			@extend %dline
.spring-discounts
	height: 317px
	&:before
		@extend %dline_vert
	.headline
		&:before
			@extend %dline
			display: none
			+r(w1220)
				@extend %dline
				display: block
	.box-body
		&:before
			@extend %dline
	.thumbnail
		position: relative
.latest-works
	height: 317px
	.headline
		&:before
			@extend %dline
		// border-width: 1px 0
.latest-works__group
	+clr
.latest-works__item
	width: 240px
	height: 240px
	float: left
	overflow: hidden
	img
		display: block
		min-width: 100%
		max-height: 100%

.subscribe
	height: 240px
	background: #417184
	text-align: center
	color: $color-invert
	font-family: $font-base
.subscribe__icon
	padding-top: 26px
	margin-bottom: 20px
	i
		font-size: 68px
.subscribe__title
	font-family: $font-base
	font-weight: 500
	font-size: 16px
	text-transform: uppercase
	margin-bottom: 35px
.subscribe__link
	font-size: 13px
	cursor: pointer
.social
	// float: right
.social__group
	+clr
	li
		position: relative
		float: left
		width: 120px
		height: 120px
		line-height: 120px
		text-align: center
		+gpu
		span
			+hidetext
		i
			display: inline-block
			vertical-align: middle
			line-height: 1
			font-size: 32px
		a
			display: block
			height: 100%
			color: $color-invert
			&:before
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
				background: rgba(#000, .5)
				content: ""
				+transition(.3s)
				+opacity(1)
			&:hover
				&:before
					+opacity(0)
		&.social__fb
			background: #3b5998
		&.social__rss
			background: #f48400
		&.social__pin
			background: #d1373d
		&.social__vk
			background: #4d6e92

.box
.box-body
	position: relative
	+clr
.headline
	position: relative
	height: 77px
	line-height: 77px
	+box
	position: relative
	padding: 0 27px
	.link-more
		position: absolute
		right: 41px
		top: 39px
		line-height: 1
		text-transform: uppercase
		font-family: $font-alt
.title
	display: inline-block
	vertical-align: middle
	line-height: 1
	margin-bottom: 0 !important
.link-more
	font-size: $size-base
.thumbnail
	float: left
	width: 240px
	height: 240px
	overflow: hidden
	img
		display: block
		max-width: 100%
		min-height: 100%
.caption
	overflow: hidden
	padding: 25px 27px
	p
		margin-bottom: 0.7em
		line-height: 1.2
.g-date
	display: inline-block
	color: #b6b6b6
	font-size: $size-base
.info
	+clr
	.g-date
		float: left
	.link-more
		float: right

.head
	padding: 0 27px
	height: 84px
	line-height: 84px
.head__title
	margin-bottom: 0
	line-height: 1
	display: inline-block
	vertical-align: middle

%dline
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 1px
	background: url('../img/dline.png')
	background-repeat: repeat-x
	content: ""
	z-index: 10
.dline
	@extend %dline

%dline_vert
	@extend %dline
	right: auto
	height: auto
	bottom: 0
	width: 1px
	background-repeat: repeat-y
.dline-vert
	@extend %dline_vert

%dline_bottom
	@extend %dline
	top: auto
	bottom: 0
.dline_bottom
	@extend %dline_bottom

%dline_right
	@extend %dline
	top: 0
	left: auto
	bottom: 0
	right: 0
.dline_right
	@extend %dline_right

%dline_dark
	background: url('../img/dline_dark.png')
.dline_dark
	@extend %dline_dark

%dline_xdark
	background: url('../img/dline_extradark.png')
.dline_xdark
	@extend %dline_xdark
// <div class="dline dline_dark"></div>
// <div class="dline dline_bottom"></div>
// <div class="dline-vert dline_xdark"></div>
// <div class="dline-vert dline_right"></div>


.main-heading
	padding: 0 27px
	height: 84px
	line-height: 84px
	position: relative
.main-heading__title
	@extend %h1
	margin-bottom: 0
	display: inline-block
	vertical-align: middle
	line-height: 1

.news
.news__group
	overflow: hidden
.news__item
	height: 480px
	// overflow: hidden
	&:before
		@extend %dline_vert
		@extend %dline_right
		right: -1px
	// &:first-child
	// 	&:before
	// 		content: none
	.headline
		height: 85px
		line-height: 85px
		background: $bg-invert
	.title
		color: $color-invert
	.box-body
		height: 395px
		overflow: hidden

.loadmoar
	padding-top: 25px
	padding-bottom: 20px
	text-align: center
	clear: both
	a
		height: 60px
		line-height: 1
		display: inline-block
		position: relative
		font-family: $font-alt
		font-size: 16px
		text-transform: uppercase
		color: $color-blue
		text-decoration: none
		&:before
			position: absolute
			bottom: 0
			left: 50%
			margin-left: -32px
			+s(arr)
			content: ""
