*
	margin: 0
	+selection
		color: $color-invert
		background: $color-blue

body
	font-family: $font-base
	font-size: $size-base
	+font-smoothing
	color: $color-base
	background-color: $bg-invert
	line-height: 1.4
	min-width: 980px

a
	color: $link-color-base
	text-decoration: none
	&:hover
		text-decoration: underline

.g-pseudo
	text-decoration: none !important
	border-bottom: 1px dashed
	&:hover
		text-decoration: none !important
		border-bottom: none

.bg
	background-repeat: repeat
	position: fixed
	width: 100%
	bottom: 0
	top: 0
	left: 0
	z-index: -1

.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -90px
.footer, .push
	height: 90px

.page
	position: relative
	@extend %in
	background-color: $color-invert
	+box-shadow(0 0 10px #000)
	padding-top: 70px

.header
	position: relative
	color: $color-invert
	+clr
	height: 85px
	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 4px
		background: $color-base
		content: ""
	a
		color: $color-invert
.header__logo
	a
		display: block
		+s(logo)
		+hidetext
.header__meta
	float: right
	margin-top: 20px
	text-align: right

.contacts
	display: inline-block
	vertical-align: top
.contacts__group
	display: inline-block
	vertical-align: top
	margin-left: 40px
	text-align: left
	font-size: 13px
	li
		margin-bottom: 0.3em
	&:first-child
		margin-left: 0

.lang
	position: relative
	display: inline-block
	vertical-align: top
	margin: 0 25px 0 32px
	padding-left: 24px
	&:before
		position: absolute
		top: 0
		left: 0
		height: 46px
		width: 1px
		background: rgba(#fff, .33)
		content: ""
.lang__trigger
	cursor: pointer
	&:hover
		span
			border: none
	i
		margin-left: 5px

.navbar
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	@extend %in
	+clr
	height: 70px
	border: 1px solid $border-color-base
	border-width: 1px 0
	background-color: $bg-base
	&.is-fixed
		position: fixed
		z-index: 1000

.menu
	top: -1px
.menu__ul
	display: table
	width: 100%
	border-collapse: collapse
	+box
.menu__clause
	position: relative
	display: table-cell
	font-family: $font-alt
	font-size: 15px
	text-transform: uppercase
	text-align: center
	border-right: 1px solid $border-color-base
	+transition(.3s)
	&:hover, &.is-active
		background: $color-base
		border-color: $color-base
		a
			color: $color-invert
	&.menu__clause_adv
		&:before
			position: absolute
			top: 0
			left: 0
			+arr(20, 20, $color-pink, tl)
			content: ""
		&:hover, &.is-active
			background: $color-pink
			border-color: $color-pink
	&.menu__clause_print
		&:before
			position: absolute
			top: 0
			left: 0
			+arr(20, 20, $color-blue, tl)
			content: ""
		&:hover, &.is-active
			background: $color-blue
			border-color: $color-blue
	a
		display: block
		color: $color-base
		text-decoration: none
		line-height: 16px
		padding: 27px .5em
		white-space: nowrap
		+transition(.3s)

.search
	top: -1px
	height: 70px
	font-family: $font-alt
.search__query
	display: block
	width: 100%
	font-family: $font-alt
	+box
	font-size: 14px
	line-height: 20px
	padding: 25px 27px
	background: none
	&:focus
		+placeholder-color(transparent)
.search__submit
	position: absolute
	top: 50%
	margin-top: -14px
	right: 27px
	display: block
	background: none
	font-size: 22px
	+r(w1220)
		width: 100%
		top: 0
		right: 0
		left: 0
		bottom: 0
		margin-top: 0
		i
			position: absolute
			top: 50%
			margin-top: -14px
			left: 50%
			margin-left: -10px
			right: auto

.search__dropdown
	position: absolute
	top: 70px - 1px
	left: 0
	background: $color-invert
	z-index: 100
	display: none
	li
		padding: 0 27px
		border: 1px solid $border-color-base
		border-width: 0 1px 1px
		font-size: 14px
		height: 43px
		line-height: 43px
		cursor: pointer
		margin-left: -1px
		+text-overflow
		&:hover, &.is-selected
			background: #efefef
		&:first-child
			border-top: 1px dashed #bbb

.request
	height: 70px
	top: -1px
	background: #7bc100
	color: $color-invert
	+transition(background .3s)
	&:hover
		background: $bg-invert
.request__trigger
	position: relative
	cursor: default
	top: 0
	left: 0
	right: 0
	height: 100%
.request__triggerlabel
	position: relative
	width: 170px
	height: 70px
	+box
	padding-top: 20px
	text-align: center
	font-family: $font-alt
	text-transform: uppercase
	line-height: 1
	font-size: $size-lg
	&:before
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 1px
		background: rgba(#fff, .4)
		content: ""
	span
		text-transform: lowercase
		font-size: $size-base
.request__triggericon
	font-size: 22px
	position: absolute
	top: 25px
	right: 25px
	+r(w1220)
		left: 50%
		right: auto
		margin-left: -10px

.teaser
.teaser__slider
	height: 480px
	overflow: hidden
	img //tmp
		display: block
		min-width: 100%

.menublock
	li
		display: block
		height: 240px
		background: $color-base
		color: $color-invert
		text-align: center
		+r(w1220)
			width: 50%
			float: left

.footer
	height: 90px
	color: $color-invert
	.container
		padding-top: 30px
		padding-left: 25px
		padding-right: 25px
	a //test
		color: $color-invert
		text-decoration: underline
.footer__left
.footer__right
	float: right
.footer__contacts
	text-align: right