.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -90px
.footer, .push
	height: 90px

.footer
	// height: 90px
	color: #c7c7c7
	.container
		padding-top: 30px
		padding-left: 25px
		padding-right: 25px
	a //test
		color: #c7c7c7
		text-decoration: underline
.footer__right
	float: right
	text-align: right
.footer__contacts
	margin-left: 30px
	display: inline-block
	vertical-align: top
.footer__social
	position: relative
	display: inline-block
	vertical-align: top
	line-height: 1.1
	padding-right: 45px
	&:before
		position: absolute
		top: -5px
		right: 0
		height: 46px
		width: 1px
		background: rgba(#fff, .33)
		content: ""
	ul
		display: inline-block
		vertical-align: top
		padding-top: 2px
	li
		display: inline-block
		vertical-align: middle
		font-size: 22px
		margin-left: 19px
		&:first-child
			margin-left: 0
		span
			+hidetext
.footer__social-title
	display: inline-block
	vertical-align: top
	margin-right: 23px
	font-size: $size-sm
