$font-base: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif
$font-alt: "Roboto Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif

$size-xs: 11px
$size-sm: 13px
$size-base: 15px

$size-h1: 36px
$size-h2: 21px
$size-h3: 15px

$bg-base: #fff