.teaser
.teaser__slider
	height: 480px
	overflow: hidden
	+r(w1220)
		height: 640px
	img
		display: block
		min-width: 100%
.teaser__pager
	position: absolute
	z-index: 105
	bottom: 30px
	right: 40px
	span
		display: inline-block
		width: 14px
		height: 14px
		+border-radius(50%)
		background: #353535
		cursor: pointer
		+hidetext
		margin-left: 6px
		&.is-active
			background: #d0d0d0
.teaser__text 
	position: absolute
	top: 30px
	right: 40px
	color: $color-base
	text-align: right
.teaser__title
	font-family: $font-alt
	font-size: 46px
	text-transform: uppercase
	font-weight: normal
	line-height: 1
.teaser__desc
	font-size: $size-h2
	text-transform: uppercase
	margin-bottom: 20px
	line-height: 1.1
.teaser__action
.teaser__slide
	width: 720px
	+r(w1220)
		width: 960px

.main-services
	overflow: hidden
	height: 480px
	+r(w1220)
		height: 240px 
.main-services__item
	position: relative
	overflow: hidden
	display: block
	height: 240px
	color: $color-invert
	text-align: center
	+box
	+r(w1220)
		width: 50%
		float: left
	&.main-services__item_adv
		background: #454545
		&:before
			position: absolute
			top: 0
			left: 0
			+arr(20, 20, $color-pink, tl)
			content: ""
		.main-services__cover
			&:hover
				background: $color-pink
		.main-services__list
			a
				&:hover
					background: #555555
	&.main-services__item_print
		background: #353535
		&:before
			position: absolute
			top: -1px
			left: 0
			+arr(20, 20, $color-blue, tl)
			content: ""
			z-index: 20
			+r(w1220)
				left: -1px
		.main-services__cover
			position: relative
			&:hover
				background: $color-blue
		.main-services__list
			a
				&:hover
					background: #454545


.main-services__cover
	position: relative
	float: left
	width: 240px
	height: 241px
	+box
	padding: 50px
	z-index: 20
	&:before
		@extend %dline_vert
		@extend %dline_right
		@extend %dline_dark
	&:hover
		&:before
			display: none
	a
		color: $color-invert
		text-decoration: none
.main-services__cover-hotzone
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.main-services__icon
	margin-bottom: 25px

.main-services__title
	text-transform: uppercase
	font-weight: 500
	font-size: 16px
	line-height: 1
	color: $color-invert

.main-services__list
	overflow: hidden
	li
		position: relative
		text-align: left
		&:before
			@extend %dline
			@extend %dline_xdark
		&:first-child
			&:before
				content: none
		.main-services__more
			text-align: right
			font-size: 13px
			font-family: $font-base
			// padding: 15px 30px
	a
		display: block
		padding: 13px 30px 12px
		color: $color-invert
		text-decoration: none
		font-size: 14px
		line-height: 15px
		font-family: $font-alt

.about
	height: 240px
	.caption
		position: relative
		&:before
			@extend %dline

.spring-discounts
	height: 317px
	&:before
		@extend %dline_vert
	.headline
		position: relative
		&:before
			@extend %dline_bottom
			display: block
			+r(w1220)
				display: none
	.caption
		overflow: hidden
		&:before
			@extend %dline
			display: none
			@extend .dline
			+r(w1220)
				display: block
	.thumbnail
		position: relative
		float: left

.latest-works
	height: 317px
	.headline
		&:before
			@extend %dline

.subscribe
	height: 240px
	background: #417184
	text-align: center
	color: $color-invert
	font-family: $font-base

$btn-subscribe-color: #4698b1
.subscribe__form
	display: none
	position: absolute
	background: $bg-base
	color: $color-base
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 20px
	text-align: left

	.btn
		min-width: 1px
		width: 100%
		display: block
		background: $btn-subscribe-color
		&:hover
			background: darken($btn-subscribe-color, 5%)
	.input
		margin-bottom: 15px
.subscribe__legend
	text-transform: uppercase
	font-size: 16px
	color: $color-base
	font-weight: 500
	line-height: 1
	margin-bottom: 20px

.subscribe__icon
	padding-top: 26px
	margin-bottom: 20px
	i
		font-size: 68px
.subscribe__title
	font-family: $font-base
	font-weight: 500
	font-size: 16px
	text-transform: uppercase
	margin-bottom: 35px
.subscribe__link
	font-size: 13px
	cursor: pointer

.social-widget
.social-widget__group
	+clr
	.social-widget__item
		position: relative
		float: left
		width: 120px
		height: 120px
		line-height: 120px
		text-align: center
		+gpu
		span
			+hidetext
		i
			display: inline-block
			vertical-align: middle
			line-height: 1
			font-size: 32px
		a
			display: block
			height: 100%
			color: $color-invert
			&:before
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
				background: rgba(#000, .5)
				content: ""
				+transition(.3s)
				+opacity(1)
			&:hover
				&:before
					+opacity(0)
		&.social-widget__item_fb
			background: #3b5998
		&.social-widget__item_rss
			background: #f48400
		&.social-widget__item_pin
			background: #d1373d
		&.social-widget__item_vk
			background: #4d6e92

.faq
	.faq__head
		position: relative
		background: #efefef
		height: 69px
		line-height: 69px
		padding: 0 30px
		border-bottom: 1px solid #e8e8e8
	.faq__title
		text-transform: uppercase
		color: #353535
		font-family: $font-alt
		font-size: 15px
	.faq__headicon
		position: absolute
		top: 50%
		margin-top: -11px
		right: 26px
		+s(question)
	.faq__content
		position: relative
		padding: 30px 25px
		&:before
			position: absolute
			top: -1px
			left: 0
			width: 69px
			height: 151px
			content: ""
			background: url('../img/faq_shadow.png') no-repeat
	.faq__item
		position: relative
		margin-bottom: 15px
	.faq__subtitle
		position: relative
		padding-left: 27px
		margin-bottom: 15px
		text-transform: uppercase
		font-size: 18px
		font-family: $font-alt
		i
			position: absolute
			top: 2px
			left: -1px
			+s(comment)
	.faq__name
	.faq__desc
		font-size: 13px
		color: $color-blue
		font-family: $font-alt
	.faq__txt
		font-size: 12px
		color: #8d8d8d
	.faq__readmore
		padding-top: 20px
		position: relative
		text-align: right
		&:before
			@extend %dline
		a
			text-transform: uppercase

.overkitchen
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #fff
	z-index: 1010
	overflow: hidden
	.overkitchen__head
		border-bottom: 1px solid #e8e8e8
		// margin-bottom: 1px
	.overkitchen__close
		position: absolute
		top: 23px
		right: 21px
		+s(close)
		cursor: pointer
	.overkitchen__menu
		ul
			+clr
		li
			position: relative
			float: left
			&.is-active
				a
					background: #fff
					height: 70px
					margin-bottom: -1px
			&.last
				a
					&:before
						margin-left: -1px
		a
			display: block
			height: 69px
			width: 240px
			+box
			padding: 16px 30px
			font-family: $font-alt
			text-transform: uppercase
			color: #353535
			text-decoration: none
			font-size: 15px
			background: #efefef
			&:before
				position: absolute
				left: 100%
				top: 0
				+s(overk_shadow)
				content: ""
				z-index: 1
	.overkitchen__inner
		padding: 30px 16px 30px 30px
	.overkitchen__content
		.l-sidebar
			display: block
			position: static
			&:before
				top: 69px
				left: auto
				right: 240px
		.sidenav
			margin-top: -1px
			&:before
				content: none
		.l-main
			+r(w1220)
				width: 720px
			&:before
				content: none

.fots
	.fots__i
		margin-right: 10px
		position: relative
		height: 185px
		overflow: hidden
		margin-top: 10px
		&:first-child
			margin-top: 0
		&:hover
			.fots__overlay
				+opacity(1)
			.fots__price
				+opacity(0)
	.fots__pic
		img
			display: block
			min-height: 100%
			min-width: 100%
	.fots__overlay
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#000, .5)
		+opacity(0)
		+transition(.2s)
	.fots__btn
		position: absolute
		top: 50%
		margin-top: -18px
		left: 50%
		margin-left: -158px
		display: inline-block
		background-color: rgba(0,0,0,.5)
		@include box-shadow(0 1px 0 rgba(255,255,255,.22), inset 0 1px 3px rgba(0,0,0,.68))
		font-size: 15px
		color: #fff
		text-transform: uppercase
		font-family: $font-alt
		text-decoration: none
		width: 316px
		text-align: center
		height: 36px
		line-height: 36px
		+border-radius(20px)
	.fots__price
		position: absolute
		bottom: 0
		right: 0
		background: rgba(#000,.7)
		+opacity(1)
		+transition(.2s)
		color: #fff
		padding: 0 24px
		height: 46px
		line-height: 46px
	.fots__pricelabel
		display: inline-block
		vertical-align: middle
		line-height: 1
		font-size: 12px
	.fots__pricenum
		display: inline-block
		vertical-align: middle
		line-height: 1
		margin-left: 15px
		font-size: 18px
		font-family: $font-alt




.hint
	position: absolute
	left: -30px
	bottom: 100%
	background-color: #fafafa
	@include box-shadow(0 0 12px rgba(#000,.6))
	+box
	width: 240px
	padding: 25px 20px 20px
	z-index: 100
	font-weight: normal
	font-style: normal
	margin-bottom: 17px
	display: none
	&:before
		position: absolute
		bottom: -16px
		left: 26px
		content: ""
		+s(hint_arr)
	h3
		font-size: 18px
		text-transform: uppercase
		font-family: $font-alt
		font-weight: normal
	p
		font-size: 13px
		margin-bottom: 0

#bc-crop-area
	&.overflow-auto
		overflow: auto !important






